@if (_coreService.loading()) {
    <app-skeleton />
} @else {
    <p-toolbar>
        <ng-template #start>

        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            <p-button
                type="button"
                class="mr-2"
                label="Regresar"
                size="large"
                [icon]="PrimeIcons.ARROW_LEFT"
                iconPos="left"
                severity="warn"
                (onClick)="previous.emit(null)" />

            @if (checked.value) {
                <p-button
                    type="button"
                    label="Guardar y Continuar"
                    size="large"
                    severity="success"
                    [icon]="PrimeIcons.SAVE"
                    iconPos="right"
                    (onClick)="onSubmit()" />
            } @else {
                <p-button
                    type="button"
                    label="Continuar"
                    size="large"
                    [icon]="PrimeIcons.ARROW_RIGHT"
                    iconPos="right"
                    (onClick)="next.emit(null)" />

            }
        </ng-template>
    </p-toolbar>

    <p-fluid>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col md:flex-row gap-8 mt-6">
                <div class="w-full">
                    <div class="card flex flex-col gap-4">
                        <div class="font-semibold text-xl">Datos cuenta bancaria</div>

                        <p-divider />

                        <!-- type -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="type"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Tipo de cuenta"
                                [required]="typeField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="type" formControlName="type" />

                                <p-message
                                    appErrorMessage
                                    [errors]="typeField?.errors"
                                    [touched]="typeField?.touched"
                                    [dirty]="typeField?.dirty"
                                    severity="error"
                                    variant="simple"
                                    size="small" />
                            </div>
                        </div>

                        <!-- number -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="number"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Número de cuenta"
                                [required]="numberField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="number" formControlName="number" />

                                <p-message
                                    appErrorMessage
                                    [errors]="numberField?.errors"
                                    [touched]="numberField?.touched"
                                    [dirty]="numberField?.dirty"
                                    severity="error"
                                    variant="simple"
                                    size="small" />
                            </div>
                        </div>

                        <!-- shortName -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="shortName"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Nombre corto"
                                [required]="shortNameField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="shortName" formControlName="shortName" />

                                <p-message
                                    appErrorMessage
                                    [errors]="shortNameField?.errors"
                                    [touched]="shortNameField?.touched"
                                    [dirty]="shortNameField?.dirty"
                                    severity="error"
                                    variant="simple"
                                    size="small" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-fluid>

    <p-toolbar>
        <ng-template #start>

        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            <p-button
                type="button"
                class="mr-2"
                label="Regresar"
                size="large"
                [icon]="PrimeIcons.ARROW_LEFT"
                iconPos="left"
                severity="warn"
                (onClick)="previous.emit(null)" />

            @if (checked.value) {
                <p-button
                    type="button"
                    label="Guardar y Continuar"
                    size="large"
                    severity="success"
                    [icon]="PrimeIcons.SAVE"
                    iconPos="right"
                    (onClick)="onSubmit()" />
            } @else {
                <p-button
                    type="button"
                    label="Continuar"
                    size="large"
                    [icon]="PrimeIcons.ARROW_RIGHT"
                    iconPos="right"
                    (onClick)="next.emit(null)" />

            }
        </ng-template>
    </p-toolbar>
}
