@if (_coreService.loading()) {
    <app-skeleton />
} @else {
    <p-toolbar>
        <ng-template #start>

        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            @if (editingControl.value) {
                <p-button
                    type="button"
                    label="Guardar y Continuar"
                    size="large"
                    severity="success"
                    [icon]="PrimeIcons.SAVE"
                    (onClick)="onSubmit()" />
            } @else {
                <p-button
                    type="button"
                    label="Continuar"
                    size="large"
                    [icon]="PrimeIcons.ARROW_RIGHT"
                    iconPos="right"
                    (onClick)="onSubmit()" />
            }
        </ng-template>
    </p-toolbar>

    <p-divider />

    <p-fluid>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col md:flex-row gap-8" formGroupName="additionalInformation">
                <div class="md:w-1/2">
                    <div class="card flex flex-col gap-4">
                        <div class="font-semibold text-xl">Datos personales</div>

                        <p-divider />

                        <!-- email -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="correo"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Correo"
                                [required]="correoField">
                            </label>

                            <div class="col-span-12 md:col-span-7">
                                <input pInputText type="text" id="correo" formControlName="correo" />

                                <span
                                    appErrorMessage
                                    [errors]="correoField.errors"
                                    [touched]="correoField.touched"
                                    [dirty]="correoField.dirty">
                    </span>
                            </div>

                            <div class="col-span-12 md:col-span-1">
                                <p-button
                                    [icon]="PrimeIcons.PENCIL"
                                    severity="warn"
                                    pTooltip="Actualizar correo"
                                    (onClick)="updateVisible=true" />
                            </div>
                        </div>

                        <!-- identification -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="cedula"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Cédula"
                                [required]="cedulaField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="cedula" formControlName="cedula" />
                            </div>

                            <span
                                appErrorMessage
                                [errors]="cedulaField.errors"
                                [touched]="cedulaField.touched"
                                [dirty]="cedulaField.dirty">
                    </span>
                        </div>

                        <!-- birthdate -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="fechaNacimiento"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Fecha de nacimiento"
                                [required]="fechaNacimientoField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="fechaNacimiento" formControlName="fechaNacimiento" />
                            </div>

                            <span
                                appErrorMessage
                                [errors]="fechaNacimientoField.errors"
                                [touched]="fechaNacimientoField.touched"
                                [dirty]="fechaNacimientoField.dirty">
                    </span>
                        </div>

                        <!-- age -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="edad"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Edad"
                                [required]="edadField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="edad" formControlName="edad" />
                            </div>

                            <span
                                appErrorMessage
                                [errors]="edadField.errors"
                                [touched]="edadField.touched"
                                [dirty]="edadField.dirty">
                    </span>
                        </div>

                        <!-- name -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="nombres"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Nombres"
                                [required]="nombresField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="nombres" formControlName="nombres" />

                                <span
                                    appErrorMessage
                                    [touched]="nombresField.touched"
                                    [errors]="nombresField.errors"
                                    [dirty]="nombresField.dirty">
                    </span>
                            </div>


                        </div>

                        <!-- gender -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="genero"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Género"
                                [required]="generoField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="genero" formControlName="genero" />

                                <span
                                    appErrorMessage
                                    [errors]="generoField.errors"
                                    [touched]="generoField.touched"
                                    [dirty]="generoField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- nationality -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="nacionalidad"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Nacionalidad"
                                [required]="nacionalidadField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="nacionalidad" formControlName="nacionalidad" />

                                <span
                                    appErrorMessage
                                    [errors]="nacionalidadField.errors"
                                    [touched]="nacionalidadField.touched"
                                    [dirty]="nacionalidadField.dirty">
                                </span>
                            </div>
                        </div>

                        <!-- cellPhone -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="telefono"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Teléfono"
                                [required]="telefonoField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="telefono" formControlName="telefono" />

                                <span
                                    appErrorMessage
                                    [errors]="telefonoField.errors"
                                    [touched]="telefonoField.touched"
                                    [dirty]="telefonoField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- email -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="nombreInstitucion"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Nombre Institución"
                                [required]="nombreInstitucionField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="nombreInstitucion"
                                       formControlName="nombreInstitucion" />

                                <span
                                    appErrorMessage
                                    [errors]="nombreInstitucionField.errors"
                                    [touched]="nombreInstitucionField.touched"
                                    [dirty]="nombreInstitucionField.dirty">
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md:w-1/2">
                    <div class="card flex flex-col gap-4">
                        <div class="font-semibold text-xl">Actividad</div>

                        <p-divider />

                        <!-- nombreActividad -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="nombreActividad"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Actividad"
                                [required]="nombreActividadField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <textarea pTextarea id="nombreActividad"
                                          formControlName="nombreActividad"
                                          [autoResize]="true"></textarea>

                                <p-message severity="error" size="large"
                                           appErrorMessage
                                           [errors]="nombreActividadField.errors"
                                           [touched]="nombreActividadField.touched"
                                           [dirty]="nombreActividadField.dirty" />
                            </div>
                        </div>
                    </div>

                    <div class="card flex flex-col gap-4">
                        <div class="font-semibold text-xl">Datos domicilio</div>

                        <p-divider />

                        <!-- province -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="provincia"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Provincia"
                                [required]="provinciaField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="provincia" formControlName="provincia" />

                                <span
                                    appErrorMessage
                                    [errors]="provinciaField.errors"
                                    [touched]="provinciaField.touched"
                                    [dirty]="provinciaField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- canton -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="canton"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Cantón"
                                [required]="cantonField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="canton" formControlName="canton" />

                                <span
                                    appErrorMessage
                                    [errors]="cantonField.errors"
                                    [touched]="cantonField.touched"
                                    [dirty]="cantonField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- parish -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="parroquia"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Parroquia"
                                [required]="parroquiaField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="parroquia" formControlName="parroquia" />

                                <span
                                    appErrorMessage
                                    [errors]="parroquiaField.errors"
                                    [touched]="parroquiaField.touched"
                                    [dirty]="parroquiaField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- neighborhood -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="barrio"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Barrio"
                                [required]="barrioField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="barrio" formControlName="barrio" />

                                <span
                                    appErrorMessage
                                    [errors]="barrioField.errors"
                                    [touched]="barrioField.touched"
                                    [dirty]="barrioField.dirty">
                            </span>
                            </div>
                        </div>

                        <!-- mainStreet -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="callePrincipal"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Calle principal"
                                [required]="callePrincipalField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="callePrincipal" formControlName="callePrincipal" />

                                <span
                                    appErrorMessage
                                    [errors]="callePrincipalField.errors"
                                    [touched]="callePrincipalField.touched"
                                    [dirty]="callePrincipalField.dirty">
                    </span>
                            </div>
                        </div>

                        <!-- secondaryStreet -->
                        <div class="grid grid-cols-12 gap-4">
                            <label
                                appLabel
                                for="calleSecundaria"
                                class="col-span-12 md:col-span-4 flex items-center"
                                label="Calle secundaria"
                                [required]="calleSecundariaField">
                            </label>

                            <div class="col-span-12 md:col-span-8">
                                <input pInputText type="text" id="calleSecundaria" formControlName="calleSecundaria" />

                                <span
                                    appErrorMessage
                                    [errors]="calleSecundariaField.errors"
                                    [touched]="calleSecundariaField.touched"
                                    [dirty]="calleSecundariaField.dirty">
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-fluid>

    <p-divider />

    <p-toolbar>
        <ng-template #start>

        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            @if (editingControl.value) {
                <p-button
                    type="button"
                    label="Guardar y Continuar"
                    size="large"
                    severity="success"
                    [icon]="PrimeIcons.SAVE"
                    (onClick)="onSubmit()" />
            } @else {
                <p-button
                    type="button"
                    label="Continuar"
                    size="large"
                    [icon]="PrimeIcons.ARROW_RIGHT"
                    iconPos="right"
                    (onClick)="onSubmit()" />
            }
        </ng-template>
    </p-toolbar>
}

<p-dialog [(visible)]="updateVisible" [style]="{ width: '450px' }" header="Actualiazción de Correo" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <label
                appLabel
                for="correo"
                class="block font-bold mb-3"
                label="Nuevo correo"
                [required]="emailControl">
            </label>

            <input pInputText id="email" class="col-span-12 md:col-span-4 flex items-center"
                   [formControl]="emailControl" autocomplete="off" autofocus fluid />

            <p-message severity="error" size="large"
                       appErrorMessage
                       [errors]="emailControl.errors"
                       [touched]="emailControl.touched"
                       [dirty]="emailControl.dirty" />


            @if (emailControl.valid) {
                <p-button
                    label="Solicitar Código"
                    (onClick)="requestTransactionalEmailCode()"
                    [loading]="_coreService.loading()"
                    [fluid]="true" />
            }

            @if (transactionalCodeControl.value === '') {
                <label
                    appLabel
                    for="transactionalCode"
                    class="block font-bold mb-3"
                    label="Ingrese el código enviado a su correo"
                    [required]="transactionalCodeControl">
                </label>

                <p-inputotp
                    id="transactionalCode"
                    [formControl]="transactionalCodeControl"
                    [length]="6"
                    [integerOnly]="true" />

                <p-message severity="error" size="large"
                           appErrorMessage
                           [errors]="transactionalCodeControl.errors"
                           [touched]="transactionalCodeControl.touched"
                           [dirty]="transactionalCodeControl.dirty" />
            }
        </div>
    </ng-template>
</p-dialog>
