<app-floating-configurator />

<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">

    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.4rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 100%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-10 px-8 sm:px-6" style="border-radius: 53px">
                <div class="text-center mb-0">
                    @if (!environment.production) {
                        <h1 class="text-red-500">
                            {{ environment.APP_SHORT_NAME }}
                        </h1>
                    }

                    <img src="images/logo.png" alt="" width="150">

                    <div class="text-surface-950 dark:text-surface-0 text-3xl font-medium mb-4">
                        Iniciar Sesión
                    </div>

                    <span class="text-muted-color font-medium">
                        Bienvenido a {{ environment.APP_NAME }}
                    </span>
                </div>

                <p-divider/>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="username"
                               class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
                            Número de cédula:
                        </label>

                        <input
                            pInputText
                            pKeyFilter="int"
                            [maxlength]="10"
                            id="username"
                            type="text"
                            placeholder="Ej. 1702030405"
                            class="w-full md:w-[39rem] mb-4"
                            formControlName="username" />
                    </div>

                    @if (identification) {
                        <div>
                            <label
                                class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
                                @if (validationType === 'issue') {
                                    Fecha de
                                    <p-tag value="EMISIÓN" severity="info" /> de la cédula:
                                } @else {
                                    Fecha de
                                    <p-tag value="EXPIRACIÓN" severity="danger" /> de la cédula:
                                }
                            </label>

                            <p-select
                                id="year"
                                [options]="years"
                                formControlName="year"
                                placeholder="Año"
                                optionLabel="name"
                                class="w-full md:w-56 mr-2" />

                            <p-select
                                id="month"
                                [options]="months"
                                formControlName="month"
                                placeholder="Mes"
                                optionLabel="name"
                                class="w-full md:w-56 mr-2" />

                            <p-select
                                id="day"
                                [options]="days"
                                formControlName="day"
                                placeholder="Día"
                                class="w-full md:w-56 mr-2" />
                        </div>
                    }

                    <!--                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">-->
                    <!--                        <span-->
                    <!--                            routerLink="/auth/sign-in"-->
                    <!--                            class="font-medium no-underline ml-2 text-left cursor-pointer text-blue-600">-->
                    <!--                            ¿Olvidó su contraseña?-->
                    <!--                        </span>-->

                    <!--                        <span-->
                    <!--                            routerLink="/auth/sign-up"-->
                    <!--                            class="font-medium no-underline mr-2 text-right cursor-pointer text-primary">-->
                    <!--                            Crear Cuenta-->
                    <!--                        </span>-->
                    <!--                    </div>-->

                    <p-divider />

                    @if (!identification) {
                        <p-button
                            type="button"
                            label="Continuar"
                            styleClass="w-full"
                            (onClick)="verifyIdentification()"
                            [loading]="_coreService.loading()"
                            iconPos="right"
                            [icon]="PrimeIcons.ARROW_RIGHT" />
                    }

                    @if (identification) {
                        <p-button
                            type="submit"
                            label="Continuar"
                            styleClass="w-full"
                            [loading]="_coreService.loading()"
                            [icon]="PrimeIcons.SIGN_IN" />
                    }
                </form>

                <!--                <p-divider align="center" type="dotted">-->
                <!--                    <b>O</b>-->
                <!--                </p-divider>-->

                <!--                <app-auth-provider-button />-->
            </div>
        </div>
    </div>
</div>
