<app-floating-configurator />

<p-fluid>
    <div
        class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">

        <div class="flex flex-col items-center justify-center">
            <div
                style="border-radius: 56px; padding: 0.4rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 100%)">
                <div class="w-full bg-surface-0 dark:bg-surface-900 py-10 px-8 sm:px-6" style="border-radius: 53px">
                    <div class="text-center mb-0">
                        @if (!environment.production) {
                            <h1 class="text-red-500">
                                {{ environment.APP_SHORT_NAME }}
                            </h1>
                        }

                        <img src="images/logo.png" alt="" width="150">

                        <div class="text-surface-950 dark:text-surface-0 text-3xl font-medium mb-4">
                            Iniciar Sesión - Usuario Interno
                        </div>

                        <span class="text-muted-color font-medium">
                        Bienvenido a {{ environment.APP_NAME }}
                    </span>
                    </div>

                    <p-divider />

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div>
                            <label for="username"
                                   class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
                                Correo electrónico:
                            </label>

                            <input
                                pInputText
                                id="username"
                                type="text"
                                placeholder="Ej. juan.perez@turismo.gob.ec"
                                class="w-full md:w-[39rem] mb-4"
                                formControlName="username" />
                        </div>

                        <div>
                            <label for="password"
                                   class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
                                Contraseña:
                            </label>

                            <p-password
                                id="password" type="text" formControlName="password"
                                [toggleMask]="true"
                                [feedback]="false" />
                        </div>

                        <p-divider />

                        <p-button
                            type="submit"
                            label="Continuar"
                            styleClass="w-full"
                            [loading]="_coreService.loading()"
                            [icon]="PrimeIcons.SIGN_IN" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</p-fluid>
