<p-fluid>
    <div class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-5 flex flex-col gap-2">
                <label>Ingrese el número de cédula del beneficiario:</label>

                <p-autocomplete [formControl]="identification"
                                [suggestions]="userStates"
                                (completeMethod)="findStatesByCedula($event)"
                                field="nombres">
                    <ng-template let-selectedItem #selectedItem>
                        asdasd
                    </ng-template>

                    <ng-template let-item #item>
                        <div class="flex items-center gap-2">
                            <div>{{ item.cedula }} - {{ item.nombres }}</div>
                        </div>
                    </ng-template>
                </p-autocomplete>

            </div>
        </div>
    </div>
</p-fluid>

@if (userState) {
    <div class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>DIRECCIÓN ZONAL:</h6>
                {{ userState.direccionZonal }}
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>PROVINCIA:</h6>
                {{ userState.provincia }}
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>NÚMERO DE CÉDULA:</h6>
                {{ userState.cedula }}
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>NOMBRES Y APELLIDOS :</h6>
                {{ userState.nombres }}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 grid-nogutter">
        <div class="col-span-4">
            <div
                class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
            >
                <div class="md:w-40 relative">
                    <div class="sticky-note">
                        <p>Curso en línea</p>
                    </div>

                    <p-tag
                        [severity]="userState.curso!='si'?'danger':undefined"
                        class="absolute"
                        styleClass="dark:!bg-surface-900"
                        [style.left.px]="4"
                        [style.top.px]="4">
                        <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.curso == 'si' ? 'Cumple' : 'No Cumple' }}
                                </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        @if (userState.actividadA1) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA1!='si'?'danger':undefined"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA1 == 'si' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (userState.actividadA2) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA2!='si'?'danger':undefined"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA2 == 'si' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (userState.actividadB1) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Levantamiento Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB1!='si'?'danger':undefined"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB1 == 'si' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (userState.actividadB2) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Levantamiento Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB2!='si'?'danger':undefined"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB2 == 'si' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }
    </div>
}
