<p-fluid>
    <div class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-4 flex flex-col gap-2">
                <label>Ingrese el número de cédula o nombre del beneficiario:</label>

                <p-autocomplete
                    #search
                    [formControl]="identification"
                    [suggestions]="userStates"
                    (completeMethod)="findStatesByCedula($event.query)"
                    field="nombres">
                    <ng-template let-selectedItem #selectedItem>
                        asdasd
                    </ng-template>

                    <ng-template let-item #item>
                        <div class="flex items-center gap-2">
                            <div>{{ item.cedula }} - {{ item.nombres }}</div>
                        </div>
                    </ng-template>
                </p-autocomplete>
            </div>


            @if (userState?.transactionalCode) {
                <div class="md:col-span-2 flex flex-col gap-2">
                    <label>Código de verificación:</label>
                    <p-button (click)="findStatesByCedula(identification.value.cedula)"
                              [icon]="PrimeIcons.SYNC"
                              [label]="userState.transactionalCode"
                              pTooltip="Refrescar"
                              severity="info">
                    </p-button>
                </div>
            }
        </div>
    </div>
</p-fluid>

@if (userState) {
    <div class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-3 flex flex-col gap-2">
                <p><b>PROVINCIA:</b> {{ userState.provincia }}</p>
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <p><b>NÚMERO DE CÉDULA:</b> {{ userState.cedula }}</p>
            </div>

            <div class="md:col-span-6 flex flex-col gap-2">
                <p><b>APELLIDOS Y NOMBRES:</b> {{ userState.nombres }}</p>
            </div>
        </div>

        <p-divider />

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-3 flex flex-col gap-2">
                <p><b>DIRECCIÓN ZONAL:</b> {{ userState.direccionZonal }}</p>
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <p>
                    <b>
                        ESTADO:
                    </b>
                    {{ userState.habilitado }} (Unidad Registro Social)

                    <p-button [icon]="PrimeIcons.INFO_CIRCLE"
                              [outlined]="true"
                              size="small"
                              label="Haga click aquí"
                              (click)="op.toggle($event)" />
                </p>
            </div>

            <div class="md:col-span-6 flex flex-col gap-2">
                <p><b>ACTIVIDAD:</b> {{ userState.actividad }}</p>
            </div>

            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>PROGRESO:</h6>
                <p-tag [severity]="userState.cumple!='Completo'?'danger':'success'">{{ userState.cumple }}</p-tag>
            </div>
        </div>

        <p-divider />

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6 text-center">
            @if (userState.actividadA1 || userState.actividadA2 || userState.actividad == 'Actividades de preservación de sitios de interés turístico') {
                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de actividades preservación en abril: <b>{{ userState.cantidadA1 }}</b></p>
                    <p>Meta: {{ userState.metaA1 }}</p>
                </div>

                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de actividades preservación en mayo: <b>{{ userState.cantidadA2 }}</b></p>
                    <p>Meta: {{ userState.metaA2 }}</p>
                </div>
            }

            @if (userState.actividadB1 || userState.actividadB2 || userState.actividad == 'Levantamiento de información') {
                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de encuestas levantadas en digital en abril: <b>{{ userState.cantidadB1 }}</b></p>
                </div>

                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de encuestas levantadas en físico en abril: <b>{{ userState.cantidadC1 }}</b></p>
                </div>

                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de encuestas levantadas en digital en mayo: <b>{{ userState.cantidadB2 }}</b></p>
                </div>

                <div class="md:col-span-3 flex flex-col gap-2">
                    <p># de encuestas levantadas en físico en mayo: <b>{{ userState.cantidadC2 }}</b></p>
                </div>

                <div class="md:col-span-6 flex flex-col gap-2">
                    <p>Meta Abril: <b>20</b></p>
                </div>

                <div class="md:col-span-6 flex flex-col gap-2">
                    <p>Meta Mayo: <b>100</b></p>
                </div>
            }
        </div>
    </div>

    <!--    <div class="card">-->
        <!--        <label for="">-->
        <!--            Comentario:-->
        <!--        </label>-->

        <!--        <p>{{ userState.comentario }}</p>-->
        <!--    </div>-->

    <div class=" flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-12 flex flex-col gap-2">
                <p-message size="large" severity="error">
                    <h4>Para la recepción de inconvenientes del
                        Mecanismo Ecuatorianos en Acción es del <b class="ml-1"> 27 de junio al 09 de julio de 2025</b>
                    </h4>
                </p-message>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 grid-nogutter">
        <div class="col-span-4">
            <div
                class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
            >
                <div class="md:w-40 relative">
                    <div class="sticky-note">
                        <p>Curso en línea</p>
                    </div>

                    <p-tag
                        [severity]="userState.curso!='completa'?'danger':'success'"
                        class="absolute"
                        styleClass="dark:!bg-surface-900"
                        [style.left.px]="4"
                        [style.top.px]="4">
                        <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.curso == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        @if (userState.actividadA1 || userState.actividadA2) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (userState.actividadB1 || userState.actividadB2) {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Gasolineras Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Encuestas Turísticas Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (!userState.actividadB1 && !userState.actividadB2 && userState.actividad == 'Levantamiento de información') {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Gasolineras Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Encuestas Turísticas Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (!userState.actividadA1 && !userState.actividadA2 && userState.actividad == 'Actividades de preservación de sitios de interés turístico') {
            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Gasolineras Abril</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-4">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Encuestas Turísticas Mayo</p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }
    </div>
}

<p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem] text-justify">
        Habilitado significa que cumple con los criterios generales establecidos en el Artículo 2 del Decreto
        Presidencial 578 los cuales son; una edad comprendida entre 30 y 64 años con 11 meses, que no se encuentren
        aportando al Instituto Ecuatoriano de Seguridad Social, que no sean beneficiarios de ninguna transferencia
        monetaria pagada por el Ministerio de Inclusión Económica y Social; que no conste como fallecido; y que no tenga
        antecedentes penales
    </div>
</p-popover>
