@if (userState) {
    <div class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>DIRECCIÓN ZONAL:</h6>
                {{ userState.direccionZonal }}
            </div>

            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>PROVINCIA:</h6>
                {{ userState.provincia }}
            </div>

            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>NÚMERO DE CÉDULA:</h6>
                {{ userState.cedula }}
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>APELLIDOS Y NOMBRES:</h6>
                {{ userState.nombres }}
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>Estado (Unidad Registro Social):</h6>
                {{ userState.habilitado }}
                <p-button [icon]="PrimeIcons.INFO_CIRCLE"
                          [outlined]="true"
                          size="small"
                          label="Haga click aquí"
                          (click)="op.toggle($event)" />
            </div>

            <div class="md:col-span-3 flex flex-col gap-2">
                <h6>ACTIVIDAD:</h6>
                {{ userState.actividad }}
            </div>

            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>PROGRESO:</h6>
                <p-tag [severity]="userState.cumple!='Completo'?'danger':'success'">{{ userState.cumple }}</p-tag>
            </div>

            <div class="md:col-span-2 flex flex-col gap-2">
                <h6>CUENTA BANCARIA:</h6>
                {{ _authService.additionalInformation.nombreCorto }}
                {{ _authService.additionalInformation.numeroCuenta }}
            </div>

            <!--            <div class="md:col-span-5 flex flex-col gap-2">-->
            <!--                <p-message severity="info" size="large">-->
            <!--                    <span class="ml-2 mr-2">-->
            <!--                                <b>Informativo:</b> si su cuenta bancaria no es correcta dirigirse al siguiente enlace-->
            <!--                            </span>-->

            <!--                    <p-button (onClick)="linkToEEA()" [outlined]="true" severity="warn">-->
            <!--                        Actualización Ecuatorianos en Acción-->
            <!--                    </p-button>-->
            <!--                </p-message>-->
            <!--            </div>-->
        </div>
    </div>

    <div class=" flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-12 flex flex-col gap-2">
                <p-message size="large" severity="error">
                    <h4>Estimado beneficiario, contactese con nosotros desde el <b class="ml-1"> 30 de junio al 09 de julio de 2025</b>,
                        de Lunes a Viernes en el horario de atención, 08:00 a 16:30
                    </h4>
                </p-message>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 grid-nogutter">
        <div class="col-span-3">
            <div
                class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
            >
                <div class="md:w-40 relative">
                    <div class="sticky-note">
                        <p>Curso en línea
                            <p-button label="Repotar Inconvenientes"
                                      [icon]="PrimeIcons.INFO_CIRCLE"
                                      [raised]="true"
                                      (onClick)="filterPhones('curso')"></p-button>
                        </p>
                    </div>

                    <p-tag
                        [severity]="userState.curso!='completa'?'danger':'success'"
                        class="absolute"
                        styleClass="dark:!bg-surface-900"
                        [style.left.px]="4"
                        [style.top.px]="4">
                        <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.curso == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                        </div>
                    </p-tag>
                </div>
            </div>
        </div>

        @if (userState.actividad == 'Actividades de preservación de sitios de interés turístico') {

            <div class="col-span-3">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Abril
                                <p-button label="Repotar Inconvenientes"
                                          [icon]="PrimeIcons.INFO_CIRCLE"
                                          [raised]="true"
                                          (onClick)="filterPhones('preservacion_abril')" />
                            </p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-3">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Preservación Mayo
                                <p-button label="Repotar Inconvenientes"
                                          [icon]="PrimeIcons.INFO_CIRCLE"
                                          [raised]="true"
                                          (onClick)="filterPhones('preservacion_mayo')" />
                            </p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadA2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadA2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>
        }

        @if (userState.actividad == 'Levantamiento de información') {

            <div class="col-span-3">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >
                    <div class="md:w-40 relative">
                        <div class="sticky-note">
                            <p>Gasolineras Abril
                                <p-button label="Repotar Inconvenientes"
                                          [icon]="PrimeIcons.INFO_CIRCLE"
                                          [raised]="true"
                                          (onClick)="filterPhones('levantamiento_abril')" />
                            </p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB1!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB1 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

            <div class="col-span-3">
                <div
                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 border-t border-surface-200 dark:border-surface-700"
                >

                    <div class="md:w-40 relative">
                        <div class="sticky-note">

                            <p>Encuestas Turísticas Mayo
                                <p-button label="Repotar Inconvenientes"
                                          [icon]="PrimeIcons.INFO_CIRCLE"
                                          [raised]="true"
                                          (onClick)="filterPhones('levantamiento_mayo')" />
                            </p>
                        </div>

                        <p-tag
                            [severity]="userState.actividadB2!='completa'?'danger':'success'"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="4"
                            [style.top.px]="4">
                            <div class="flex items-center gap-2 px-1">
                                <span class="text-base" style="font-size: 22px;width: 120px">
                                    {{ userState.actividadB2 == 'completa' ? 'Cumple' : 'No Cumple' }}
                                </span>
                            </div>
                        </p-tag>
                    </div>
                </div>
            </div>

        }
    </div>

    <!--    <div class="card">-->
        <!--        <label for="">-->
        <!--            Comentario:-->
        <!--        </label>-->

        <!--        <textarea class="w-full" rows="8" cols="100" pTextarea [formControl]="commentary"></textarea>-->

        <!--        <p-button label="Enviar" [icon]="PrimeIcons.SEND" (onClick)="createCommentary()" [disabled]="commentary.disabled"/>-->
        <!--    </div>-->
}

@if (!userState) {
    <p-message severity="error">No cuenta con registro de su actividad</p-message>
}

<p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem] text-justify">
        Habilitado significa que cumple con los criterios generales establecidos en el Artículo 2 del Decreto
        Presidencial 578 los cuales son; una edad comprendida entre 30 y 64 años con 11 meses, que no se encuentren
        aportando al Instituto Ecuatoriano de Seguridad Social, que no sean beneficiarios de ninguna transferencia
        monetaria pagada por el Ministerio de Inclusión Económica y Social; que no conste como fallecido; y que no tenga
        antecedentes penales
    </div>
</p-popover>

<p-dialog
    [modal]="true"
    [visible]="isVisible"
    [closable]="false"
    [style]="{ width: '30rem' }">

    <ng-template #header>
        <h4>{{ filteredPhones?.label }}</h4>
    </ng-template>

    @for (phone of filteredPhones?.phones; track phone) {
        <p-inputgroup>
            <p-inputgroup-addon>
                <i [class]="PrimeIcons.PHONE"></i>
            </p-inputgroup-addon>
            <input pInputText [ngModel]="phone" readonly />
        </p-inputgroup>
        <p-divider />
    }

    <p-button label="Cerrar" (onClick)="isVisible=false" />
</p-dialog>
